.container-ls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  min-height: 100vh;
}

.screen {
  background: linear-gradient(90deg, #5d54a4, #7c78b8);
  position: relative;
  height: 600px;
  box-shadow: 0px 0px 24px #5c5696;
}

.screen__content {
  z-index: 1;
  position: relative;
  height: 100%;
}
.screen__content form {
  font-size: 14px;
}
.screen__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}

.screen__background__shape {
  transform: rotate(45deg);

  position: absolute;
}

.screen__background__shape1 {
  height: 565px;
  width: 560px;
  background: #fff;
  top: -50px;
  right: 120px;
  border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
  height: 220px;
  width: 220px;
  background: #6c63ac;
  top: -172px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape3 {
  height: 540px;
  width: 190px;
  background: linear-gradient(270deg, #5d54a4, #6a679e);
  top: -24px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape4 {
  height: 400px;
  width: 200px;
  background: #7e7bb9;
  top: 420px;
  right: 50px;
  border-radius: 60px;
}
.screen__background_signup {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}
.screen__background__shape_signup {
  transform: rotate(90deg);
  position: absolute;
}
.screen__background__shape1_signup {
  height: 576px;
  width: 420px;
  background: #fff;
  top: -55px;
  right: 120px;
  border-radius: 0 72px 0 0;
}
.screen__background__shape4_signup {
  height: 340px;
  width: 200px;
  background: #7e7bb9;
  top: 384px;
  right: 71px;
  border-radius: 60px;
}
.login {
  width: 320px;
  padding: 30px;
  padding-top: 156px;
}
.Signup {
  width: 320px;
  padding: 30px;
  padding-top: 30px;
}

.login__field,
.signup__field {
  /* padding: 10px 0px; */
  position: relative;
  height: 80px;
}

.login__icon,
.signup__icon {
  position: absolute;
  top: 12px;
  color: var(--button-color1);
}

.login__input,
.signup__input {
  border: none;
  border-bottom: 2px solid #d1d1d4;
  background: none;
  padding: 10px;
  padding-left: 24px;
  font-weight: 700;
  width: 75%;
  transition: 0.2s;
}

.login__input:active,
.signup__input:active,
.login__input:focus,
.signup__input:focus,
.login__input:hover,
.signup__input:hover {
  outline: none;
  border-bottom-color: #6a679e;
}

.signup-submit-div {
  display: flex;
  justify-content: flex-end;
}
.signup-submit-div-signup {
  display: flex;
  justify-content: flex-end;
  /* margin-top: 5px; */
  margin-right: -18px;
}
.login-submit-div {
  display: flex;
  justify-content: flex-start;
}
.signup__submit,
.login__now__button,
.login__submit {
  background: #fff;
  font-size: 14px;
  padding: 16px 20px;
  border-radius: 26px;
  border: 1px solid #d4d3e8;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 180px;
  color: #4c489d;
  /* box-shadow: 0px 2px 2px #5c5696; */
  box-shadow: 1px 1px 5px 4px #5c5696;
  cursor: pointer;
  transition: 0.2s;
}
.login__submit {
  margin-top: 30px;
}
.login-button-signup-page {
  margin-top: 30px;
  margin-left: 5%;
}
.login-now {
  margin-right: 50px;
}
.login__submit:active,
.signup__submit:active,
.login__submit:focus,
.signup__submit:focus,
.signup__submit:hover,
.login__submit:hover {
  border-color: #6a679e;
  outline: none;
}

.button__icon {
  font-size: 24px;
  margin-left: auto;
  color: var(--button-color1);
}
.button__icon_left {
  font-size: 24px;
  margin-right: auto;
  color: var(--button-color1);
}

.eye-icon {
  position: absolute;
  cursor: pointer;
  right: 50px;
  color: var(--button-color1);
  bottom: 50px;
}
.error {
  color: rgb(190, 55, 55);
  border-radius: 10px;
  padding: 5px;
  font-size: 12px;
}
.text-info-ls {
  color: white;
  font-weight: bold;
  margin-right: 10px;
}
.password-error {
  width: 250px;
}
.separation {
  margin-bottom: 20px;
}
